.cardtext{
    font-size: 14px;
}
.picon{
    color: #A9A9A9		;
    text-decoration: none;

}
.threepoints{
    position: absolute;
    right: 1%;
    top: 18px;
    border: 0px;
    background-color: transparent;
}
 .mainheadItemspan{
     text-decoration: none;
     font-size: 12px;
 }
 .mainheadItemspanDate{
    text-decoration: none;
    font-size: 12px;
    position: absolute;
    right: 4px;
    bottom: 12px;
    color: #A9A9A9	;
}